/* IMPORT GOOGLE FONT (Ancizar Sans) */
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #003366;
  --secondary: #4da6ff;
  --accent: #00cba9;
  --danger: #dc3545;
  --warning: #ffc107;

  --text-primary: #212529;
  --text-secondary: #6c757d;
  --divider: #dee2e6;
}

/* KONFIGURASI DEFAULT TAG */
a {
  text-decoration: none;
  color: var(--text-primary);
}

li {
  list-style: none;
}

button {
  border: none;
}

html {
  font-family: "Ancizar Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* background: var(--accent); */
}

/* HEADER CSS */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header > ul > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.89));
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid white;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  background: transparent;
  color: white;
  gap: 4px;
  font-size: 1.25rem;
  transition: all 0.3s;
  border: 1px solid white;
}

.nav-link:hover {
  color: #ffffff;
  transform: translateY(-7%);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.nav-link:nth-child(1) {
  background: var(--secondary);
}
.nav-link:nth-child(2) {
  background: var(--danger);
}
.nav-link:nth-child(3) {
  background: var(--accent);
}

/* HOME SECTION */
/* PARTICLES JS */
#home {
  width: 100%;
  height: 110dvh;
  background-image: url("https://cdn0.ecologiaverde.com/es/posts/0/9/0/un_aumento_de_4_grados_para_2100_90_0_600.jpg");
  background-color: rgba(0, 0, 0, 0.813);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.typing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 110dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.528);
}

.typing-card {
  background: rgba(96, 0, 0, 0.44);
  backdrop-filter: blur(5px);
  width: 40rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 3px solid white;
}

#typing {
  color: white;
  font-size: 2rem;
}

.suhu-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(219, 114, 27, 0.752);
  padding: 0.5rem 2rem;
  font-size: 20px;
  border-radius: 7px;
  color: white;
  border: 2px solid white;
  transition: all 0.3s;
}

.suhu-btn:hover {
  background: rgba(222, 20, 20, 0.854);
}

/* TEMPERATURE SECTION */
#temperature {
  min-height: 100dvh;
  margin-top: -5px;
  background: var(--danger);
  color: white;
  font-size: 30px;
  padding-bottom: 20rem;
}

.wave {
  width: 100%;
  margin-top: -8%; /* Agar menyatu dengan section */
  position: relative;
}

.temperature-content {
  padding: 0 3rem 1rem;
  min-height: 100vh;
  max-width: 1766px;
  margin: auto;
}

.temperature-title {
  text-align: center;
  background: white;
  color: var(--danger);
  border-radius: 20px;
}

.temperature-paragraf {
  margin-top: 3rem;
  padding: 0 1rem;
}

form {
  padding: 0 1rem;
  margin: 1rem 0;
}

.form-temperature {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  color: var(--danger);
}

.form-temperature h3 {
  background-color: var(--danger);
  color: white;
  padding: 0.75rem;
  border-radius: 100rem;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-size: 20px;
}

form input {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  width: 100%;
  margin: 0.75rem 0;
  font-size: 20px;
  color: white;
  background-color: var(--danger);
  font-weight: bold;
}

form input::placeholder {
  color: white;
}

form input:focus {
  outline: none;
}

.celsius-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  font-size: 25px;
  padding: 1rem 1.5rem;
}

.celsius-content button {
  padding: 0.5rem 1rem;
  font-size: 17px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.btn-konversi {
  background-color: #e63946; /* Merah utama */
  color: white;
  border: none;
}

.btn-reset {
  background-color: #8d9eff; /* Biru soft */
  color: white;
  border: none;
}

.btn-reverse {
  background-color: #e78b35;
  color: #e63946;
}

.fahrenheit {
  margin-top: 1.5rem;
}

.kalkulasi {
  display: flex;
  flex-direction: column;
}

.kalkulasi textarea {
  border-radius: 8px;
  background: var(--danger);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 7px;
}

.kalkulasi textarea:focus {
  outline: none;
}

.calculator-info {
  background-color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 20px;
}

.calculator-info > p {
  font-size: 22px;
}

/* RUMUS CONTAINER */
.rumus-container {
  padding: 1rem;
}

.rumus-container > h2 {
  border-bottom: 3px solid white;
  margin: 1rem 0;
  padding-bottom: 7px;
}

.rumus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  gap: 10px;
  border-bottom: 3px solid white;
  padding-bottom: 2rem;
}

.rumus-content {
  background: white;
  color: var(--danger);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 40px;
}

.rumus-text {
  border-radius: 100rem;
  background: white;
  color: var(--danger);
  padding: 2rem;
  width: 5rem;
  height: 5rem;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION DEVELOPER */
#dev {
  min-height: 70dvh;
  padding-bottom: 20%;
  width: 100%;
  background: var(--accent);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wave2 {
  width: 100%;
  margin-top: -20%;
}

.developer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem 1rem 5rem;
  max-width: 1766px;
  margin: auto;
}

.developer-name {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.developer-name h6 {
  font-size: 35px;
}
.developer-name p {
  font-size: 25px;
  width: 80%;
  margin-top: 5px;
}

.medsos-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.25rem;
}

.medsos-container a {
  background: white;
  padding: 1rem;
  border-radius: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.linkedin:hover {
  background: rgb(38, 147, 248);
  color: white;
}
.github:hover {
  background-color: black;
  color: white;
}
.ig:hover {
  background: rgb(224, 79, 79);
  color: white;
}

/* FOOTER CSS */
footer {
  background: var(--secondary);
  font-size: 25px;
  text-align: center;
  color: white;
  margin-top: -10px;
  padding: 0 1rem 3rem;
}

.wave-footer {
  position: relative;
  margin-top: -14%;
  z-index: 99;
}

@media (max-width: 768px) {
  .form-temperature {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .temperature-content {
    padding: 1rem;
  }
  .typing-card {
    width: 90%;
    text-align: center;
  }
  .rumus-container {
    text-align: center;
  }
  .rumus {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .rumus-content {
    font-size: 25px;
  }
  .developer-container {
    flex-direction: column-reverse;
    gap: 2rem;
    text-align: center;
    align-items: center;
    padding: 1rem;
  }
  .developer-container p {
    width: 100%;
    padding: 0 4rem;
  }
  .medsos-container {
    justify-content: center;
  }
}

/* CARD COMPONENT */
.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--primary);
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid var(--primary);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: var(--danger);
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid var(--danger);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

/* TERMINAL COMPONENT */
@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 11em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 15em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}
